*{
    margin: 0px;
    padding: 0px;
   
}
body {
    width: 970px;
    
}

h4,h1 {
    font-family: Arial, Helvetica, sans-serif;
    display : block;
    width: 300px;
    height: auto;
    border: 2px solid black;
    text-align: center;
    padding: 20px;
    margin: 10px auto;
}

h1 {
    font-size: 40px;
}